doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Landing Page - Start Bootstrap Theme

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        nav.navbar.navbar-light.bg-light.fixed-top
            .container
                a.navbar-brand(href='#!') ViCommerce

        // Masthead
        header.masthead
            .container.position-relative
                .row.justify-content-center
                    .col-xl-6
                        .text-center.text-white
                            // Page heading
                            h1.mb-5 

                            // Signup form

                            // * * * * * * * * * * * * * * *
                            // * * SB Forms Contact Form * *
                            // * * * * * * * * * * * * * * *

                            // This form is pre-integrated with SB Forms.
                            // To make this form functional, sign up at
                            // https://startbootstrap.com/solution/contact-forms
                            // to get an API token!

                            form.form-subscribe#contactForm(data-sb-form-api-token='API_TOKEN')

                                // Email address input
                                .row
                                    .col
                                        input#emailAddress.form-control.form-control-lg(type='email' placeholder='Digite seu Email' data-sb-validations='required,email')
                                        .invalid-feedback.text-white(data-sb-feedback='emailAddress:required')
                                            | Endereço de e-mail é requerido
                                        .invalid-feedback.text-white(data-sb-feedback='emailAddress:email')
                                            | Endereço de E-mail não é válido

                                    .col-auto
                                        button#submitButton.btn.btn-primary.btn-lg.disabled(type='submit') Cadastre-se

                                // Submit success message
                                //
                                // This is what your users will see when the form
                                // has successfully submitted

                                #submitSuccessMessage.d-none
                                    .text-center.mb-3
                                        .fw-bolder 
                                        p Muito obrigado por se cadastrar =) Continua a força e me segue lá no Linkedin
                                        a.text-white(href='https://www.linkedin.com/in/victor-hugo-fernandes-siqueira-b22a10154/') https://www.linkedin.com/in/victor-hugo-fernandes-siqueira-b22a10154/

                                // Submit error message
                                //
                                // This is what your users will see when there is
                                // an error submitting the form

                                #submitErrorMessage.d-none
                                    .text-center.text-danger.mb-3 

        
        // Image Showcases
        section.showcase
            .container-fluid.p-0
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-1.jpg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Iphones por preços imperdíveis
                        p.lead.mb-0
                            | Venha conferir os nossos preços em celulares, somente até o dia 20/07/2021 teremos ofertascom 50% de desconto!
                .row.g-0
                    .col-lg-6.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-2.jpg');")
                    .col-lg-6.my-auto.showcase-text
                        h2 Venha conferir nossos eletrodomésticos
                        p.lead.mb-0
                            | Monte a sua cozinha completa aqui mesmo e parcele em até 24x sem juros!
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-3.jpg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Roupas masculinas e femininas!
                        p.lead.mb-0
                            | Compre Já Tudo Que Está Bombando! As Melhores Marcas de Roupas Você Só Encontra Aqui!

        // Testimonials
        section.testimonials.text-center.bg-light
            .container
                h2.mb-5
                .row
                    .col-lg-4
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/testimonials-1.jpg', alt='...')
                            h5 Venha conferir os preços de laptops
                            p.font-weight-light.mb-0 
                    .col-lg-4
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/testimonials-2.jpg', alt='...')
                            h5 Gama Academy
                            p.font-weight-light.mb-0
                                | Aproveite as ofertas de cursos de TI na Gama Academy 
                    .col-lg-4
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/testimonials-3.jpg', alt='...')
                            h5 Produtos de Beleza
                            p.font-weight-light.mb-0 Confira as ofertas em cosméticos e compre com 50% de desconto!

        // Call to Action
        section#signup.call-to-action.text-white.text-center
            .container.position-relative
                .row.justify-content-center
                    .col-xl-6
                        h2.mb-4 
                        // Signup form
                        
                        // * * * * * * * * * * * * * * *
                        // * * SB Forms Contact Form * *
                        // * * * * * * * * * * * * * * *

                        // This form is pre-integrated with SB Forms.
                        // To make this form functional, sign up at
                        // https://startbootstrap.com/solution/contact-forms
                        // to get an API token!

                        form.form-subscribe#contactFormFooter(data-sb-form-api-token='form')

                            // Email address input
                            .row
                                .col
                                    input#emailAddressBelow.form-control.form-control-lg(type='email' placeholder='Digite seu Email' data-sb-validations='required,email')
                                    .invalid-feedback.text-white(data-sb-feedback='emailAddressBelow:required')
                                        | Endereço de e-mail é requerido
                                    .invalid-feedback.text-white(data-sb-feedback='emailAddressBelow:email')
                                        | Endereço de E-mail não é válido

                                .col-auto
                                    button#submitButton.btn.btn-primary.btn-lg.disabled(type='submit') Cadastre-se

                            // Submit success message
                            //
                            // This is what your users will see when the form
                            // has successfully submitted

                            #submitSuccessMessage.d-none
                                .text-center.mb-3
                                    .fw-bolder Cadastrado com Sucesso!
                                    p 
                                    a.text-white(href='') 

                            // Submit error message
                            //
                            // This is what your users will see when there is
                            // an error submitting the form

                            #submitErrorMessage.d-none
                                .text-center.text-danger.mb-3 

        // Footer
        footer.footer.bg-light
            .container
                .row
                    .col-lg-6.h-100.text-center.text-lg-start.my-auto
                        
                        p.text-muted.small.mb-4.mb-lg-0 &copy; Victor Hugo Siqueira.  huggofernandes@hotmail.com
                    .col-lg-6.h-100.text-center.text-lg-end.my-auto
                        ul.list-inline.mb-0
                            li.list-inline-item.me-4
                                a(href='https://github.com/VictorHugoSiqueira')
                                    i.bi-github.fs-3
                            li.list-inline-item.me-4
                                a(href='https://www.linkedin.com/in/victor-hugo-fernandes-siqueira-b22a10154/')
                                    i.bi-linkedin.fs-3


        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')